.datepicker-body {
  padding: 8px 12px;
}
.datepicker-body .table {
  text-align: center;
}
.datepicker-body .table .table-head {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.datepicker-body .table .table-head .table-head-item {
  padding: 6px 0;
  line-height: 18px;
}
.datepicker-body .table .table-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.datepicker-body .table .table-body-item {
  padding: 3px 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}
.datepicker-body .table .table-body-item:not(.selected):hover {
  transition: all 0.3s;
  background-color: #bae7ff;
}
.datepicker-body .table .selected {
  color: #fff;
  background: #1890ff;
  border: 1px solid transparent;
}
.datepicker-body .table .today {
  color: #1890ff;
  font-weight: bold;
  border: 1px solid #1890ff;
}
.datepicker-body .table .table-body .last-month,
.datepicker-body .table .table-body .next-month {
  color: rgba(0, 0, 0, 0.25);
  background: transparent;
  border-color: transparent;
}
