.datepicker-header {
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
  user-select: none;
  position: relative;
}
.datepicker-header .btn {
  cursor: pointer;
  position: absolute;
  padding: 0 5px;
}
.datepicker-header .year-pre-btn {
  left: 7px;
  height: 100%;
}
.datepicker-header .year-pre-btn::after,
.datepicker-header .month-pre-btn::after {
  left: -3px;
  display: inline-block;
}
.datepicker-header .year-pre-btn::before,
.datepicker-header .year-pre-btn::after,
.datepicker-header .month-pre-btn::after {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  border: 0 solid #aaa;
  border-width: 1.5px 0 0 1.5px;
  border-radius: 1px;
  transform: rotate(-45deg) scale(0.8);
  transition: all 0.3s;
  content: "";
}
.datepicker-header .year-pre-btn::after {
  left: -3px;
  display: inline-block;
}
.datepicker-header .select .year-select:hover,
.datepicker-header .select .month-select:hover {
  transition: all 0.3s;
  color: #4aa4fb;
}
.datepicker-header .select .year-select,
.datepicker-header .select .month-select {
  display: inline-block;
  padding: 0 2px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  line-height: 40px;
  cursor: pointer;
}
.datepicker-header .year-next-btn::before,
.datepicker-header .year-next-btn::after,
.datepicker-header .month-next-btn::after {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  border: 0 solid #aaa;
  border-width: 1.5px 0 0 1.5px;
  border-radius: 1px;
  transform: rotate(135deg) scale(0.8);
  transition: all 0.3s;
  content: "";
}
.datepicker-header .year-next-btn::after {
  left: -3px;
  display: inline-block;
}
.datepicker-header .month-pre-btn {
  left: 29px;
  height: 100%;
}
.datepicker-header .year-next-btn {
  right: 7px;
  height: 100%;
}
.datepicker-header .month-next-btn {
  right: 29px;
  height: 100%;
}
